@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    --hh: 130px;
    --fh: 10vh;
    --backColor: #77c700;
    --brown: rgb(65, 24, 0);
}

body {
    background-color: rgb(241, 255, 170);
}

.btnContain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 2%;
    height: var(--hh);
    text-align: center;
}

.game {
    max-height: calc(100vh - 130px - 10vh);
    height: 650px;
}

header h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 5rem;
    color: var(--brown);
    text-shadow: 5px 5px rgb(255, 106, 106);
}

footer {
    height: var(--fh);
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
}

.copyright {
    color: grey;
}

/* Change Layout and style */

.game {
    display: flex;
    justify-content: space-around;
}

.fov {
    margin: 0;
    background-color: var(--backColor);
}

.container {
    background-color: var(--brown);
    border: none;
    width: 300px;
    height: 500px;
    margin: 0;
    gap: 10px;
    justify-content: center;
}

#phc {
    background-color: transparent;
    width: 100%;
    border: none;
    color: white;
    line-height: 1.5;
    padding: 0;
}

#placeholder {
    font-size: 4rem;
}

#rollButton {
    background-color: white;
}

[class*="dice"] {
    width: 70%;
    object-fit: contain;
}

#multi {
    background-color: rgb(255, 108, 203);
    border: none;
    filter:invert();
    justify-content: space-around;
}

[class*="dice"]:hover {
    transform: rotate(15deg);
    background-color: transparent;
}

.controls {
    background-color: var(--brown);
    font-family: inherit;
    width: 300px;
    height: 500px;
}

.controls p {
    color: white;
    text-transform: uppercase;
}

#controls1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 240px;
}

#controls1 button {
    height: fit-content;
    padding: 6%;
    border: none;
    background-color: var(--backColor);
    border-radius: 10vw;
    width: 100%;
}

#controls1 button:hover {
    background-color: #1fb900;
}

#arrow {
    background-color: white;
    width: 70px;
    height: 70px;
    padding: 10px;
    object-fit: contain;
    border-radius: 50%;
}

#imgTarget {
    filter: invert(40%);
}


@media (max-width: 700px) {

    header {
        height: auto;
    }

    header h1 {
        font-size: 4rem;
    }
    
    .game {
        flex-wrap: wrap;
        height: 100%;
        column-gap: 0;
    }

    .fov {
        scale: 100%;
        order: 1;
    }

    .container {
        order: 2;
        width: 44vw;
        height: 300px;
    }

    [class*="dice"] {
        height: 100%;
    }

    .controls {
        order: 3;
        width: 44vw;
        height: 300px;
    }

    #controls1 {
        width: 40vw;
    }

    #controls1 button {
        width: 80%;
    }

    .tooltipBlock {
        position: absolute;
        top: 200px;
        left: 20px;
        width: 28vh;
    }

    #imgTarget, #imgPop {
        background-color: rgb(255, 106, 106);
        filter: none;
        border-radius: 50%;
    }

    footer {
        flex-direction: column;
        padding: 10% 2%;
        height: auto;
        gap: 20px;
    }

    .copyright {
        order: 2;
    }

    .music {
        order: 1;
        flex-direction: column;
        width: 80%;
        align-items: center;
        gap: 20px;
    }

    .music-info {
        padding: 2%;
    }
}