body {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.miniContainer {
    transform-origin: top left;
    transform: scale(50%);
    width: 275px;
}

.inimContainer {
    display: flex;
    height: fit-content;
}

.col-sm-1 {
    height: 25px;
    width: 5px;
}

.minimap {
    position: fixed;
    margin: 10px;
    height: 138px;
}

.col-sm-1 {
    display: flex;
}

