* {
    margin: 0;
    padding: 0;
}

.music {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    width: 60%;
}

.music-info {
    background-color: #111111;
    border-radius: 14px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.music-info p {
    color: #77c700;
}
.music-info small {
    color: rgb(165, 165, 165);
}

.music-control {
    padding: 1%;
    display: flex;
    gap: 10px;
}

.music-control button {
    border: none;
    background-color: #242424;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #77c700;
    border: 1px solid transparent;
}

.music-control button:hover {
    /* background-color: #a2a2a2; */
    border-color: #77c700;
}

#music-pause {
    display: none;
}