* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

/* IMAGE CAPTIONS */
.tooltipBlock {
    position: relative;
    width: 10vh;
    height: 10vh;
}

#imgTarget,
#imgPop {
    width: 10vh;
}

#imgTarget {
    position: absolute;
}

#imgPop {
    position: relative;
    display: none;
}

#toolTip {
    display: none;
    position: absolute; /* toolTipの表示有無で画像の位置が変わらないようにする */
    top: -8rem;
    z-index: 1; /* レイヤーの一番上に持ってくる */
    background: #545454;
    padding: 0.4rem 1.2rem;
    color: #FFF;
    border-radius: 0.3rem;
}

#toolTip:before {
    content: "";
    position: absolute;
    border: 0.8rem solid transparent;
    border-top: 0.8rem solid #545454; /* border-top 下向きの矢印に変更 */
    top: 100%; /* toolTipの下に配置 */
    left: 50%; /* toolTipの中央に配置 */
    transform: translateX(-50%); /* 中央寄せのために水平方向に移動する */
}

.tool-imgs {
    margin-top: 10rem;
}